/* CSS for responsive stopwatch */

.stopwatch-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
}

.stopwatch-header {
  text-align: center;
  padding-top: 20px;
}

.stopwatch-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: calc(100% - 200px);
  padding: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 48%;
  height: 45%;
  border: solid 2px #ccc;
}

.player h3 {
  margin-top: 0;
}

.elapsed-time {
  font-size: 3em;
  margin-top: 10px;
}

.life-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.life-counter button {
  font-size: 1.5em;
  padding: 5px 10px;
  margin: 0 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.life-total {
  font-size: 2em;
  margin: 0 10px;
}

#player1-timer {
  position: absolute;
  top: 10px;
  left: 10px;
}

#player2-timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

#player3-timer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#player4-timer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.player:nth-child(1),
.player:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

#stop-button {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anti-clockwise {
  position: absolute;
  z-index: 9999;
  left: calc(50% - 100px);
  top: 50%;
  transform: translate(-50%, -50%);
}
